<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}{{ project_name }}{% end %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      /* .user-info {
        font-size: smaller;
        color: white;
      } */
      .navbar {
        background-image: url("/app/public/img/big_galaxy_small_dark.jpg");
        /* height: 5rem; */
        background-position: center;
      }
      .navbar-dark .navbar-nav .nav-link {
        color: white;
      }
    </style>
    <style>{% block css %}{% end %}</style>
</head>
<body>
  <div class="container-fluid">
    <!-- ref: https://getbootstrap.com/docs/5.1/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="{{ base_path }}/account">{% block header_text %}{{ project_name }}{% end %}</a>
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <ul class="navbar-nav">
            {% if not unauthorized %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownApps" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="user-info">Apps</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ base_path }}/app/cutout">Cutout Service</a></li>
              </ul>
            </li>
            {% end %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="user-info">{{ user_info['name'] }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ profile_url }}" target="_blank">Update personal info</a></li>
                <li><a class="dropdown-item" href="{{ base_path }}/account/token/create">Generate API token</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ base_path }}/account/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <div class="container-fluid">
      <div class="row m-2 header-splash"></div>
    </div>
    <div class="container">
    {% block header %}
    <div class="row m-2"></div>
    {% end %}
    {% block body %}{% end %}
  </div>
</body>

{% block javascript %}
<script></script>
{% end %}

</html>
